{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <title>sign up</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/sign-in.css' %}" />
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        {% include 'home/messages.html' %}
        <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
        <div class="form-floating">
           <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" />
           <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password1" class="form-control" id="floatingPassword" placeholder="Password" />
          <label for="floatingPassword">Password</label>
        </div> 
        <div class="form-floating">
            <input type="password" name="password2" class="form-control" id="floatingPassword" placeholder="Confirm Password" />
            <label for="floatingPassword">Confirm Password</label>
          </div> 
        <button class="btn btn-success w-100 py-2" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
      </form>
    </main>
    <script src="{% static 'js/color-modes.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
